name: Omnisms Production
on:
  push:
    branches: [main]
  workflow_dispatch:


jobs:
  android:
    runs-on: ubuntu-latest
    
    steps:
    - uses: actions/checkout@v4
    
    - name: Setup Java
      uses: actions/setup-java@v4
      with:
        distribution: temurin
        java-version: 17
        
    - name: Setup Flutter
      uses: subosito/flutter-action@v2
      with:
        flutter-version: 3.24.3
        
    - name: Clean & dependencies
      run: |
        flutter clean
        flutter pub get
        
    # keystore is committed in repository; no need to generate here
    - name: Use project keystore
      run: |
        echo "Keystore is already present at android/omnisms-keystore.jks"
          
    - name: Build APK release
      run: flutter build apk --release

    - name: Build AAB release
      run: flutter build appbundle --release
      
    - name: Upload
      uses: actions/upload-artifact@v4
      with:
        name: omnisms-release
        path: |
          build/app/outputs/flutter-apk/*.apk
          build/app/outputs/**/*.aab
